:root{
    --purple:#6a0dad;
}


/* we are able to add the things universally to all the webpage attributes */
*{
    margin:0; 
    padding:1rem;
    box-sizing: border-box;
    /* when we use the border box tells the browser to account for any border or padding*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* adding a universal font to the given webpage */
    outline:none;
    border: none;
    text-decoration: none ;
    text-transform: capitalize   ; /* to tell when to capitalize an element in web page*/
    transition: .2s linear;
    /*creates an image consisting of a progressive transition between two or more colors along a straight line*/
}

html{
    font-size: 96.6%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem ;
    overflow-x: hidden;
    /* checks to end the webpoage there or make a scroll bar to make sure the webage goes more down */
}

header{
    position : fixed ;
    top: 0px;left:0;right:0;
    background-color: #000;
    padding: 1rem 5%;   
    display : flex ;    /* allows us to manupilate with the alignment */
    align-items:center;
    /* justifies the amount of space the browser can leave between the elements, either btw or around items */
    justify-content: space-between;
    z-index: 1000; /* cotrols the stacking order or the overlapping elements of the page */
    box-shadow: 0 .5rem 4rem rgba(0,0,0,.1);
}

.navbar a {
    color: var(--purple);
    text-decoration: none ;
    /* removing the underline from all the links */ 
}

.navbar a:hover{
    text-decoration: underline ;
}

header .logo {
    color :  var(--purple);
    font-size: 2rem;
    font-weight:bold;      
} 