:root {
  --purple: #6a0dad;
}


/* we are able to add the things universally to all the webpage attributes */
* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  /* when we use the border box tells the browser to account for any border or padding*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* adding a universal font to the given webpage */
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize; /* to tell when to capitalize an element in web page*/
  transition: .2s linear;
  /*creates an image consisting of a progressive transition between two or more colors along a straight line.*/
}

html {
  font-size: 96.6%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  /* checks to end the webpoage there or make a scroll bar to make sure the webage goes more down */
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size : 4rem;
  color: #333;
  padding : 1rem;
  margin: 2rem 0;
  background: rgba(255,31,153,.05);
}

.heading span{
  color: var(--purple);
}

header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem 5%;
  display: flex; /* allows us to manupilate with the alignment */
  align-items: center;
  /* justifies the amount of space the browser can leave between the elements, either btw or around items */
  justify-content: space-between;
  z-index:1000; /* cotrols the stacking order or the overlapping elements of the page */
  box-shadow: 0 .5rem 4rem rgba(0,0,0,.1);
}

.navbar a {
  color: var(--purple);
  text-decoration: none;
  /* removing the underline from all the links */
}

.navbar a:hover {
    text-decoration: underline;
}

header .logo {
  color: var(--purple);
  font-size: 2rem;
  font-weight: bold;
}

div.container{
  margin: 100px;
  margin-bottom: 0px;
  margin-top: 125px;
  padding :50px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px ;
  background-color: #FAF9F6;
  gap :10px;
  box-sizing: border-box;
}

/* 6x14 grid*/

.item1{
  grid-area: 1/1/1/1;
  background-color: gray;
}


.counsellor_image{
  grid-area: 1/2/4/4;
  /* background-color: gray; */
  padding: 0px;
}
.counsellor_image>img{
  object-fit: cover;
  width:100%
}

#counsellor_image{
  border-radius: 15%;
}

.counsellor_name {
  /* background-color: green;  */
  grid-area: 3/2/4/4;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  transform: translateY(-30px);
}

.item2{
  grid-area: 1/14/1/14;
  background-color: gray;

}
.item3{
  grid-area: 6/1/6/1;
  background-color: gray;
}
.item4{
  grid-area: 6/14/6/14;
  background-color: gray;
} 
